/* Styles for Mobile devices */
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #eae5c9, #6cc6cb);
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

.form-container {
  text-align: center;
  margin-top: 36px;
}

input {
  outline: 0;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

input:hover {
  border: 1px solid #000;
}

input:focus {
  border: 1px solid #4d8c8f;
}

.searchBtn {
  margin-left: 8px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 91px;
  height: 40px;
  background-color: #4d8c8f;
}

.searchBtn:hover,
.searchBtn:focus {
  background-color: #63b5b9;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 24px;
}

.gallery-card {
  position: relative;
  width: 360px;
  margin: 24px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #808080;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: transform 0.4s;
}

.card-image {
  width: 360px;
  height: 200px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: cover;
}

.gallery-card:hover {
  transform: scale(1.04);
}

.card-info {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  height: 52px;
}

.params-item-value {
}

.amount {
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  line-height: 2;
  font-size: 12px;
  font-weight: 400;
}

.textBold {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 10px auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.load-btn {
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 125px;
  height: 40px;
  background-color: #4d8c8f;
  margin: 0 auto;
  border: none;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 44px;
}

.load-btn:hover,
.load-btn:focus {
  background-color: #63b5b9;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
